body{
     margin : 0;
     padding:0;
     background: url(color1.jpg);
     /*background-size:cover;*/
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     font-family: sans-serif;
}
.alumni{
    width: 480px;
    height: 550px;
    background :#D3D3D3;
    color : black;
    top:50%;
    left:50%;
    position : absolute;
    transform : translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 40px;
}
h1{
    font-size: 25px;
    color : black;
    text-align: center;
    margin: 0;
    padding : 0 0 10px;
}
.alumni input[type="submit"]
{
    border : none;
    outline :none;
    height :30px;
    width: 100px;
    background : #02386E;
    color:#fff;
    font-size: 18px;
    border-radius: 2px;
}
.alumni input[type="submit"] :hover{
    cursor : pointer;
    background: #00498D;
    color : #000;
}
.alumni input[type="text"]{
    width : 250px;
    margin-top:5px;
}
table{
    border-collapse: collapse;
    
}
.alumni  input{
    width:30%;
    margin-bottom: 8px;
}
textarea{
    padding : 5px 1px;
}
h1{
  margin-top:-25px; 
}    
